<%= error_messages_for @team, :header => "<h2>Ошибка</h2>" %>

<%= form_for @team, :action => url(:teams) do %>
  <p><%= text_field :name, :label => "Название" %></p>
  <%= submit "Создать команду" %>
<% end =%>