<% @my_games = Game.by(current_user) %>
<fieldset id="mygames">
  <legend>
    Мои игры (<%= @my_games.count %>)
  </legend>

  <p>
    <%= partial 'games/list', :games => @my_games %>
  </p>

  <br />
  
  <hr class="short-line" />

  <p>
    <%= link_to "Создать игру >> ", resource(:games, :new) %>
  </p>
</fieldset>