= bootstrap_form_tag url: sessions_path do |form|
  = form.collection_select :user_id, User.all, :id, :name_with_team_tag, { label: 'Выберите игрока' }, control_class: 'form-select form-select-sm'
  = form.primary 'Войти'
