<% if hints.empty? %>
    <em>Подсказок нет</em>
<% else %>
    <% hints.each do |hint| %>
        <p>
          Через <strong><%= hint.delay %></strong> минут:
        </p>
        <p>
          <em><%= hint.text %></em>
        </p>
    <% end %>
<% end %>