= turbo_frame_tag play do
  - if play.finished?
    = render 'plays/finish', play: # 'plays/' prefix in partial path is needed as Rails seems to have a temporary bug: when trying to advance a play current level in console, it fails to broadcast as it searches for partials only in 'applications/'
  - else
    = render 'plays/current_level', play:
