<% games.each do |game| %>
  <p>
    <strong><%= link_to game.name, resource(game) %></strong>
    <em><%= link_to "(просмотреть)", resource(game) %></em>
    <em><%= link_to "(редактировать)", resource(game, :edit) if logged_in? and current_user.author_of?(game) %></em>
  </p>
<% end %>