<% Game.started.each do |game| %>
  <% unless game.created_by?(current_user) %>
    <p>
      Началась игра "<%= link_to game.name, resource(game) %>". <%= link_to "Играть!", '#' %>
    </p>
  <% end %>
<% end %>