---
:development: &defaults
  :adapter: sqlite3
  :database: schema/development.sqlite3
  :encoding: utf8

:test:
  <<: *defaults
  :database: ":memory:"

:production:
  <<: *defaults
  :database: schema/production.sqlite3

:rake:
  <<: *defaults