---
:development: &defaults
  :adapter: mysql
  :database: encounter
  :username: root
  :password:
  :host: 127.0.0.1
  :encoding: utf8

:test:
  :adapter: sqlite3
  :database: ":memory:"
  :encoding: utf8

:production:
  <<: *defaults
  :database: encounter_production

:rake:
  <<: *defaults