Прямой эфир игры "<%= @game.name %>"

<table id="livechannel">
  <thead>
    <tr>
      <th>Время</th>
      <th>Команда</th>
      <th>Задание</th>
      <th>Код</th>
      <th>Верный код</th>
    </tr>
  </thead>
</table>