.py-2
  .d-flex.justify-content-end
    .p-2
      - if signed_in?
        - if current_user.member_of_any_team?
          Вы вошли как #{current_user.name} из команды #{current_team.name}
        - else
          Вы вошли как #{current_user.name}

      - else
        Вы не залогинены
